<h1>Listing questions</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Question text</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question_text %></td>
        <td><%= link_to 'Edit', edit_question_path(question), class: "label label-info" %></td>
        <td><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'label label-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, class: 'btn btn-success' %>
<br><br>
